<!DOCTYPE html>
<html>
  <head>
    <title>KindnessConfessions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<%= image_tag("KC_logo_edited.png", alt: "KindnessConfessions", width: 250, length: 250, class: "d-inline-block align-top") %>
			</a>
		</nav>
    <%= yield %>
  </body>
</html>
